version: 2

defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: circleci/node:10.6.0

jobs:
  test:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Run tests
          command: npm test
      - persist_to_workspace:
          root: ~/repo
          paths: .
  deploy:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
      - run:
          name: Publish to npm
          command: npm publish
  deploy-docs:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/repo
      - add_ssh_keys:
          fingerprints:
            - "8c:9a:3f:98:cd:c9:1e:c8:ec:0b:0c:3e:1e:48:51:96"
      - run:
          name: Install dependencies
          command: |
            sudo npm install -g jsdoc
            sudo npm install -g --silent gh-pages
            git config user.email "$GH_EMAIL"
            git config user.name "$GH_NAME"
      - run:
          name: Deploy docs
          command: gh-pages --dist docs/

workflows:
  version: 2
  test-deploy:
    jobs:
      - test:
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
      - deploy:
          requires:
            - test
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
  test-deploy-docs:
    jobs:
      - test:
          filters:
            branches:
              only: master
      - deploy-docs:
          requires:
            - test
          filters:
            branches:
              only: master
